#q{
    width: 160px;  
}

#qw{
    width: 160px; 
    margin-left: 150px; 
    margin-top: -185px;
}

#p{
    margin-top: 17px;
}

#qws{
    width: 160px; 
    margin-left: 250px; 
    margin-top: -185px;
}

label,h3,button,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input,select{
    width: 580px;
}