#q{
    width: 160px;  
}

#qw{
    width: 160px; 
    margin-left: 150px; 
    margin-top: -185px;
}

#p{
    margin-top: 17px;
}

#qws{
    width: 160px; 
    margin-left: 250px; 
    margin-top: -185px;
}