<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3>ITEMS DATABASE WILL DISPLAY HERE!</h3>

<div class="container-fluid mb-5">
      <hr>
      <h3>ADD NEW ITEMS</h3>

      <form>
          
        <div class="form-group">
          <label for="" class="">ITEM NAME</label>
          <input id="width" class="form-control" type="text">
        </div>
          
        <div class="form-group">
          <label for="" class="">ITEM ID</label>
          <input id="width" class="form-control" type="number">
        </div>
          
        <div class="form-group">
          <label for="" class="">BRAND </label>
          <input id="width" class="form-control" type="text">
        </div>
          
        <div class="form-group">
          <label for="" class="">COST </label>
          <input id="width" class="form-control" type="number">
        </div>
          
        <div class="form-group">
          <label for="" class="">PRICE </label>
          <input id="width" class="form-control" type="number">
        </div>
          
        <div>
            <button class="btn btn-success">ADD ITEM</button>
        </div>
               
      </form>
          
</div>
