<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
  
  <body>
    <div>
      <br>
      <h3>Sales and Customers Details</h3>
    </div>
    <div>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Customer">Customer Details</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Items">Items Details</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Purchase">Buy Product</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/PurchDetails">Purchased Customers</button>
    </div>

    <div id="display">
        <router-outlet ></router-outlet> 
    </div>
  </body>

  
  </html>
