<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
    </head>
  
  <body>
    <div>
      <h3>Sales and Customers Details</h3>
    </div>
    <div>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Customer">Customer Details</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Items">Items Details</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/Purchase">Buy Product</button>
      <button class="btn btn-primary" routerLinkActive="active" routerLink="/PurchDetails">Purchased Customers</button>
    </div>

    <div id="display">
        <router-outlet ></router-outlet> 
    </div>
  </body>

  
  </html>
